<template>
    <svg preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg" width="457.495" height="215.299" viewBox="0 0 457.495 215.299">
        <path id="Tracé_2" data-name="Tracé 2" d="M4940.772,3105.342s-49.142,27.7-45.412,123.267,90.15,125.623,304.461,47.313,144.573-170.579,132.084-170.579Z" transform="translate(-4895.158 -3105.342)" fill="#31d0b5"/>
    </svg>
</template>

<script>
    export default {
        name: 'morph-top'
    }
</script>

<style lang="scss" scoped>

</style>