<template>
    <svg preserveAspectRatio="xMinYMax meet" xmlns="http://www.w3.org/2000/svg" width="870.958" height="268.73" viewBox="0 0 870.958 299.719">
        <path id="Tracé_3" data-name="Tracé 3" 
            d="M4952.113,3393.72s-60.745-51.624-56.74-178.012,96.794-166.129,326.9-62.568,274.34,51.5,449.126,47.466c199.9-4.609,23.474,193.115,10.063,193.115H4952.113Z" 
            transform="translate(-4895.183 -3094)" 
            fill="#31d0b5"
        />
    </svg>
</template>

<script>
    export default {
        name: 'morph-bottom'
    }
</script>

<style lang="scss" scoped>

</style>