<template>
  <input
    v-bind="$attrs"
    :placeholder="title"
    @input="$emit('update:modelValue', $event.target.value)"
    :value="modelValue"
  />
</template>
<script>
export default {
  name: 'BaseInput',
  props: {
    title: {
      type: String,
      default: ''
    },
    modelValue: {
      type: [String, Number],
      default: ''
    }
  }
}
</script>
<style lang="scss" scoped>

</style>