<template>
    <h1 class="text-dark-blue text-3xl md:text-5xl font-semibold mb-12 leading-tight">
        L'application qui <br> transforme tes clopes <br> en argent !
    </h1>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>