<template>
    <div>
        <h2 class="text-dark-blue text-xl md:text-2xl font-semibold">
            Inscris toi maintenant <span class="text-green-brand">pour télécharger <br> l'applicaiton en avant-première</span>
        </h2>
        <form @submit="sendMail">
            <div class="relative mt-6 max-w-lg">
                <BaseInput required type="email" placeholder="e-mail" v-model="email" class="text-lg py-4 pl-6 pr-12 shadow-float rounded-md w-full hover:outline-green focus:outline-green" />
                <button type="submit" class="text-green-brand absolute right-4 top-1/2 transform -translate-y-1/2 transition dureation-300 ease-in-out hover:rotate-30">
                    <BaseIcon name="send" class="w-6 h-6" />
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import { ref } from 'vue'
    import API from '@/utils/API'

    export default {
        setup(props, { emit }) {
            const email = ref('')

            function sendMail (e) {
                e.preventDefault()
                API.collectEmail({ email: email.value }).then(res => {
                    console.log(res)
                    if(res.status === 200)  {
                        emit('notif', 'success')
                        fbq('track', 'CompleteRegistration'); // eslint-disable-line
                    } else {
                        emit('notif', 'error')
                    }
                }).catch(error => {
                    console.log(error.response)
                    emit('notif', 'error')
                })
            }
            return {
                email,
                sendMail
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>