<template>
    <div class="relative">
        <p class="text-dark-blue text-xl mx-6 xl:mx-12 transform -translate-y-16 xl:translate-y-0">
            <span class="font-semibold">Noclope épargne automatiquement l'argent</span> de tes cigarettes non-fumées pour <br> <span class="font-semibold">financer un projet qui te tient à cœur !</span>
        </p>
        <BaseIcon name="morph-bottom" class="h-32 absolute bottom-0 left-0" style="z-index: -1; height: fit-content;" />
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style lang="scss" scoped>

</style>