<template>
    <div id="notif-wrapper" :class="`fixed top-0 left-0 h-screen w-full flex items-center justify-center z-50 ${appear ? 'opacity-100' : 'opacity-0'}`">
        <div :class="`bg-white rounded-lg px-6 max-w-screen-sm mx-5 transition ease-in-out duration-300 delay-300 transform ${appear ? 'opacity-100' : 'opacity-0 -translate-y-8'}`">
            <button @click="$emit('close')" class="mt-3">
               <BaseIcon name="close" class="h-6" /> 
            </button>
            <div class="pb-8 pt-6" v-if="type === 'success'">
                <p class="text-xl font-semibold text-green-500 mb-3">
                    Vous êtes inscris ! 
                </p>
                <p>
                    Merci de rejoindre l'aventure Noclope, vous recevrez prochainement un mail vous donnant accès à l'application. A bientôt !
                </p>
                <p class="mt-2 italic text-sm">
                    L'équipe Noclope
                </p>
            </div>
            <div class="pb-8 pt-6" v-else-if="type === 'error'">
                <p class="text-xl font-semibold text-red-500 mb-3">
                    Inscription impossible
                </p>
                <p>
                    Vérifier votre connection internet et réessayer.
                </p>
                <p class="mt-2 italic text-sm">
                    L'équipe Noclope
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue' 
export default {
    props: {
        type: {
            type: String,
            default: 'error'
        }
    },
    setup () {
        const appear = ref(false)

        onMounted(() => {
            setTimeout(() => {
                appear.value = true
            }, 100);
        })
        

        return {
            appear
        }
    }
}
</script>

<style scoped>
    #notif-wrapper {
        background: rgba(0, 0, 0, 0.2);
    }
</style>