<template>
    <div class="relative w-80 h-56">
        <div 
            :class="`absolute z-10 top-0 left-0 h-full w-full rounded-4xl bg-white text-xl shadow-float text-center px-2 font-semibold transition ease-in-out duration-300 transform ${!loaded ? 'opacity-0 -translate-y-12' : ''}`"
            :style="`transition-delay: ${delay}ms`"
        >
            <div class="m-auto rounded-full w-20 h-20 bg-dark-blue flex items-center justify-center text-white text-xl transform -translate-y-1/2">
                <p>
                    {{ nbr }}
                </p>
            </div>
            <p class="text-dark-blue text-2xl -mt-2">
                {{ label_top }}
            </p>
            <p class="text-dark-blue font-normal text-2xl">
                {{ label_middle }}
            </p> 
            <p class="text-green-brand text-2xl">
                {{ label_bottom }}
            </p> 
        </div>
        <div 
            :class="`absolute w-full h-full top-0 left-0 bg-green-brand rounded-4xl transform transition ease-in-out duration-300 ${!loaded ? 'opacity-0' : (reverse ? '-' : '') + 'rotate-23'}`" 
            :style="`z-index: -1; transition-delay: ${delay + 300}ms`">
        </div>
    </div>
</template>

<script>
import { onMounted, ref } from 'vue'
    export default {
        props: {
            nbr: Number,
            label_top: String,
            label_middle: String,
            label_bottom: String,
            content: String,
            reverse: {
                type: Boolean,
                default: false
            },
            delay: Number
        },
        setup() {
            const loaded = ref(false)

            onMounted(() => {
                window.addEventListener('load', () => {
                    loaded.value = true
                })
            })

            return {
                loaded
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>