<template>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20">
        <div class="hidden md:block" v-for="(item, i) in steps_arr" :key="i">
            <step-item 
                :class="`${(i !== 1 && i !== 3) ? 'mt-24' : ''}`"
                :reverse="i % 2" 
                :nbr="item.nbr" 
                :label_top="item.label_top" 
                :label_middle="item.label_middle" 
                :label_bottom="item.label_bottom" 
                :content="item.content" 
                :delay="getDelay(i)"
            />
        </div>
        <div class="md:hidden" v-for="(item, i) in steps_arrOrder" :key="i">
            <step-item 
                :class="`${i !== 0 ? 'mt-32' : ''}`"
                :reverse="i % 2" 
                :nbr="item.nbr" 
                :label_top="item.label_top" 
                :label_middle="item.label_middle" 
                :label_bottom="item.label_bottom" 
                :content="item.content" 
                :delay="getDelay(i)"
            />
        </div>
    </div>
</template>

<script>
    import StepItem from '@/components/StepItem.vue'

    export default {
        data() {
            return {
                steps_arr: [
                    {
                        nbr: 2,
                        label_top: `Epargne l'argent`,
                        label_middle: 'de tes cigarettes',
                        label_bottom: 'sur ton compte Noclope',
                        content: 'empty'
                    },
                    {
                        nbr: 1,
                        label_top: `Choisis un projet`,
                        label_middle: 'qui te tient à coeur',
                        label_bottom: 'pour te motiver',
                        content: 'empty'
                    },
                    {
                        nbr: 4,
                        label_top: `Dépense ta cagnotte`,
                        label_middle: 'pour te récompenser',
                        label_bottom: 'et deviens non fumeur !',
                        content: 'empty'
                    },
                    {
                        nbr: 3,
                        label_top: `Bénéficie du soutien`,
                        label_middle: 'de tes proches',
                        label_bottom: 'pour ne pas craquer',
                        content: 'empty'
                    },
                ],
                steps_arrOrder: [
                    {
                        nbr: 1,
                        label_top: `Choisis un projet`,
                        label_middle: 'qui te tient à coeur',
                        label_bottom: 'pour te motiver',
                        content: 'empty'
                    },
                    {
                        nbr: 2,
                        label_top: `Epargne l'argent`,
                        label_middle: 'de tes cigarettes',
                        label_bottom: 'sur ton compte Noclope',
                        content: 'empty'
                    },
                    {
                        nbr: 3,
                        label_top: `Bénéficie du soutien`,
                        label_middle: 'de tes proches',
                        label_bottom: 'pour ne pas craquer',
                        content: 'empty'
                    },
                    {
                        nbr: 4,
                        label_top: `Dépense ta cagnotte`,
                        label_middle: 'pour te récompenser',
                        label_bottom: 'et deviens non fumeur !',
                        content: 'empty'
                    }
                ]
            }
        },
        components: {
            StepItem
        },
        methods: {
            getDelay(i) {
                let delay = 200
                switch(i) {
                    case 0:
                        delay = 800
                        break;
                    case 1:
                        
                        break;
                    case 2:
                        delay = 2000
                        break;
                    case 3:
                        delay = 1400
                        break;
                }

                return delay
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>