<template>
    <div>
        <div class="px-0 xl:px-20 xl:flex items-center min-h-screen relative max-w-screen-2xl w-full m-auto overflow-x-hidden">
        <div :class="`ml-2 xl:m-0 transform transition ease-in-out duration-300 ${!loaded ? 'opacity-0 -translate-y-8' : ''} -mt-5 relative xl:absolute top-0 left-0`">
            <img :src="require('@/assets/img/logo.png')" class="h-8 lg:h-10 mt-4 absolute top-8 left-12 lg:top-12 lg:left-20" alt="">
            <BaseIcon name="morph-top" class="w-72 lg:w-96" />
        </div>
        <div :class="`px-4 xl:px-0 w-fit xl:w-auto mx-auto xl:m-0 transform transition ease-in-out duration-300 delay-200 ${!loaded ? 'opacity-0 -translate-x-8' : ''}`">
            <base-line />
            <form-mail @notif="(t) => showNotif(t)" />
        </div>
        <div class="px-4 xl:px-0 w-fit xl:w-auto mx-auto my-24 xl:m-0 flex-grow flex justify-end">
            <steps /> 
        </div>
        <div class="px-4 xl:px-0 xl:hidden flex w-fit mx-auto mb-48">
            <img :src="require('@/assets/img/features.png')" :class="`transition ease-in-out duration-300 ${!loaded ? 'opacity-0' : ''} h-24 mt-2 mb-6`" alt="">
        </div>
        <div class="xl:absolute relative bottom-0 left-0 xl:flex w-full">
            <goal :class="`w-fit xl:w-auto mx-auto xl:m-0  transform transition ease-in-out duration-300 ${!loaded ? 'opacity-0 scale-75' : ''}`" />
            <div class="hidden xl:flex flex-grow justify-end">
                <img :src="require('@/assets/img/features.png')" :class="`transition ease-in-out duration-300 ${!loaded ? 'opacity-0' : ''} h-24 mt-2 mb-6`" alt="">
            </div>
        </div>
    </div>
    <Notification v-if="show_notif" @close="() => { show_notif = false }" :type="type_notif" />
    </div>
</template>

<script>
import { onMounted, ref } from 'vue'
import BaseLine from '@/components/BaseLine'
import FormMail from '@/components/FormMail'
import Steps from '@/components/Steps'
import Goal from '@/components/Goal'
import Notification from '@/components/Notification.vue';

export default {
    name: 'App',
    components: {
        BaseLine,
        FormMail,
        Steps,
        Goal,
        Notification
    },
    setup() {
        const loaded = ref(false)
        const show_notif = ref(false)
        const type_notif = ref('')

        onMounted(() => {
            window.addEventListener('load', () => {
                loaded.value = true
            })
        })

        function showNotif (t) {
            type_notif.value = t
            show_notif.value = true
        }

        return {
            loaded,
            type_notif,
            show_notif,
            showNotif
        }
    }
}
</script>

<style>

</style>
